main{
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#grid{
    border: solid 2px black;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

#grid img{
    border-radius: 10px;
}

.hidden{
    cursor: pointer;
}
.show{
    cursor: default;
}

#again{
    margin-top: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    cursor: pointer;
}

@media (min-width: 400px) {
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #grid{
        max-width: 500px;
    }
}